<nav>
    <h1>Listado de Pokemon</h1>
</nav>

<section>
    <input class="inputSerch" type="search" placeholder="Buscar" [(ngModel)]="pokemonNameSearch" style="float: left;">
    <app-buttons styleButton="primary-button" icon="add" name="Nuevo" (funtionButton)="clearForm()" class="centerRight">
    </app-buttons>
</section>

<section *ngIf="isOpen" class="createSeccion">
    <h3 class="center" *ngIf="!isEdit">Nuevo Pokemon</h3>
    <h3 class="center" *ngIf="isEdit">Editar Pokemon</h3>
    <br>
    <form [formGroup]="formPokemon">
        <div class="textCenter">
            <label for="" class="pr-s">Nombre: </label>
            <input autocomplete="off" class="input" formControlName="name" name="Nombre" type="text"
                [ngClass]="{'errorInput':inputIsValid('name')}">
            <label for="" class="pr-md pl-lg">Ataque:</label>
            0<input type="range" name="Ataque" id="myinput" min="0" max="100" formControlName="attack">100
        </div>

        <div class="textCenter">
            <label for="" class="pr-md">Imagen:</label>
            <input autocomplete="off" class="input" formControlName="image" name="Imagen" type="text"
                [ngClass]="{'errorInput':inputIsValid('image')}">
            <label for="" class="pr-s pl-lg">Defensa:</label>
            0<input type="range" name="Defensa" id="" min="0" max="100" formControlName="defense">100
        </div>
        <br>
        <div class="center">
            <app-buttons *ngIf="!isEdit" styleButton="primary-button" icon="save" name="Agregar"
                (funtionButton)="createPokemon()">
            </app-buttons>
            <app-buttons *ngIf="isEdit" styleButton="primary-button" icon="save" name="Actualizar"
                (funtionButton)="updatePokemon()">
            </app-buttons>
            &nbsp; &nbsp;
            <app-buttons styleButton="primary-dark" icon="close" name="Cerrar" (funtionButton)="clearForm()">
            </app-buttons>
        </div>
    </form>
</section>

<table class="indexTable">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Ataque</th>
            <th scope="col">Defensa</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody *ngIf="pokemons.length > 0">
        <tr *ngFor="let pokemon of pokemons |searchPokemon:pokemonNameSearch">
            <td>{{pokemon.name}}</td>
            <td>
                <div class="center">
                    <img [src]="pokemon.image" alt="image pokemon" height="25">
                </div>
            </td>
            <td>{{pokemon.attack}}</td>
            <td>{{pokemon.defense}}</td>
            <td>
                <div class="center">
                    <span class="material-icons" (click)="getPokemonById(pokemon.id)">
                        drive_file_rename_outline
                    </span>
                    <span class="material-icons" (click)="deletePokemon(pokemon)">
                        delete_forever
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<app-loading *ngIf="pokemons.length == 0"></app-loading>