<nav>
    <h1>Listado de Pokemon</h1>
</nav>

<section>
    <input class="inputSerch" type="search" placeholder="Buscar" [(ngModel)]="pokemonNameSearch">
</section>

<table class="indexTable">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Ataque</th>
            <th scope="col">Defensa</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemons |searchPokemon:pokemonNameSearch">
            <td>{{pokemon.name}}</td>
            <td>
                <div class="center">
                    <img [src]="pokemon.image" alt="image pokemon" height="25">
                </div>
            </td>
            <td>{{pokemon.attack}}</td>
            <td>{{pokemon.defense}}</td>
            <td>
                <div class="center">
                    <span class="material-icons">
                        drive_file_rename_outline
                    </span>
                    <span class="material-icons" (click)="deletePokemon(pokemon)">
                        delete_forever
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>