/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 2% 5% 2% 5%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 